* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 10px;
  padding: 10px;
  background-image: radial-gradient(
    circle,
    #3a3b38,
    #2f3230,
    #262928,
    #1e2020,
    #161718
  );
}

.btn {
  height: 30px;
  width: 100%;
  max-width: 450px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
}

